html,*{
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana;
  padding:0;
}
/* Header */
header{
  width: 100vw;
  height: 40px;
  background: hsl(359, 59%, 54%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  font-size: 10px;
  padding: 5px;
  gap: 10px;
  z-index: 99;
  position: fixed;
}
header li{
  display: grid;
  place-items: center;
  list-style: none;
  color: white;
  font: Verdana;
  font-size: 20px;
  height: 100%;
  background-color:black
  width: fit-content;
  text-align: center;
  border: 2px solid #21282e;
  margin-left: 10px;
  padding: 0px 7px 0px 7px;
  border-radius: 3px;
}
header li a{
  text-decoration: none;
  color: white;
}

/*About Section*/
#about{
  height: 100vh;content://com.android.externalstorage.documents/tree/primary%3AWEB%20DEV%20FOLDER::primary:WEB DEV FOLDER/style.css
  width:100vw;
  background-color:#21282e;
  display:flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  scroll-margin-top: 40px;
}
#about img{
  width: 200px;
  height: 200px;
  border: 2px solid hsl(359, 59%, 40%);
  border-radius: 50%;
}
#about h1{
  color: white;
  font-weight:bold
  font-size: 30px;
}
#about p{
  font-style: italic;
  color: hsl(359, 59%, 40%);
  font-size:20px;
}

/* Project Section */
#project{
  padding-top: 45.0px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: flex-start;
  align-items: center;
  background-color: #174b78;
  transition: .2s ease;
  padding-bottom: 20px;
}
#project h1 {
  margin-bottom: -15px;
  color: white;
  text-align: center;
}
#project p{
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

#project button{
  width: 100px;
  height: 35px;
  color: white;
  outline: none;
  background-color:#21282e;
  font-size: 20px;
  padding: 10px;
  font-family:Consolas;
  font-weight: bold;
  margin-top: 15px;
}
#project ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  padding: 10px;
  margin-top:15px;
  text-align: center;
  gap:15px;
}
#project ul li{
  width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  background-color: #21282e;
  padding: 0px 0px 10px 0px;
  color: white;
  border-radius: 3px;
  border: 5px solid #21282e ;
}
#project ul li img{
  width: 100%;
  height: 300px;
}
#project ul li a{
  text-align: center;
  margin: 10px 5px 0px 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/*Contact*/
#contact{
  height: 90vh;
  width: 100vw;
  background-color: #21282e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid hsl(359, 59%, 40%);
}
#contact h1{
  color: white;
  margin: 20px;
  font-size:30px;
  font-weight: bold;
}
#contact #first-type{
  font-style: italic;
  color: hsl(359, 59%, 40%);
  font-size: 20px;
  margin-bottom:6px ;
}
#contact ul{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 10px;
  text-decoration: none;
  font-family: Verdana;
  color:white;
  font-style:none;
  text-decoration: none;
  margin-top:6px;
  font-weight: bold;
}
#contact ul li{
  list-style: none;
  text-decoration: none;
  gap:15px;
  width: 100px;
  text-align: center;
  padding: 5px 3px 5px 3px;
  height: fit-content;
  border-radius: 2px;
  display: grid;
  place-items: center;
  font-family: Verdana;
  color:white;
  font-style:none;
  text-decoration: none;
  margin-top:6px;
  font-weight: bold;
}
#contact ul li a {
  text-decoration: none;
  font-size: 15.0px;
  color: white;
  font-family: Verdana;
  height:fit-content;
  display: flex;
  flex-direction:column;
  font-family: Verdana;
  color:white;
  font-style:none;
  text-decoration: none;
  margin-top:6px;
  font-weight: bold;
}
#contact ul li a i{
  margin:auto;
  width:50px;
  height: 40px;
  margin-bottom:4px;
  margin-top:4px;
  font-size: 30px;
  box-shadow: 1px 1px 3px 1px black;
  padding: 8px;
  outline: none;
  border-radius:5px;
}
#contact ul li a p{
  font-family: Verdana;
  color:white;
  font-style:none;
  text-decoration: none;
  margin-top:6px;
  font-weight: bold;
}
/*Footer*/
footer{
  width: 100vw;
  height: fit-content;
  padding: 0px;
  text-align: center;
}
footer p{
  background-color:#21282e ;
  padding: 15px;
  color: white;
}